body{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background:url(copy.jpg)no-repeat center fixed;


}
#aboutus h2{margin bottom: 25px;
font-position:top;
}
.img-wrap{
width: 100%;


}
.img-wrap img{width: 100%;10px;border: radius 50%;;box-shadow:0 0 10px #999}
